In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sns
import pandas_profiling
import os
import pickle

pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", 200)

In [2]:
DATA_DIR = '../input/'

In [3]:
df_2018 = pd.read_csv(DATA_DIR+'train_2018.csv')
print(df_2018.shape)
df_2018.head()

(464, 36)

,id,team,No,name,time_played,position,birthdate,height,weight,salary,nth_year,is_youth,nationality,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played
0,2,C大阪,2.0,松田 陸,2524.0,DF,1991-07-24,171.0,69.0,2000,3.0,NaN,NaN,47.0,3.0,42.0,2.0,NaN,NaN,NaN,NaN,FC東京,C大阪,C大阪,1,2,1,9,42,31,0,2,2,473,3733,2662
1,5,C大阪,5.0,田中 裕介,279.0,DF,1986-04-14,181.0,77.0,2700,4.0,NaN,NaN,223.0,10.0,42.0,1.0,NaN,NaN,NaN,NaN,C大阪,C大阪,C大阪,2,2,1,9,33,18,1,0,0,664,2725,492
2,6,C大阪,6.0,山口 蛍,2970.0,MF,1990-10-06,173.0,72.0,6700,10.0,1.0,NaN,134.0,12.0,58.0,2.0,NaN,NaN,38.0,2.0,C大阪・GER,C大阪,C大阪,2,2,1,35,19,32,1,1,2,3150,1800,2880
3,7,C大阪,7.0,水沼 宏太,1671.0,MF,1990-02-22,176.0,72.0,3000,2.0,NaN,NaN,194.0,24.0,50.0,7.0,9.0,3.0,NaN,NaN,鳥栖,FC東京,C大阪,1,1,1,32,17,24,7,1,3,2353,570,1901
4,8,C大阪,8.0,柿谷 曜一朗,1424.0,FW,1990-01-03,177.0,68.0,7200,10.0,1.0,NaN,113.0,39.0,168.0,23.0,NaN,NaN,18.0,5.0,SUI,C大阪,C大阪,9,2,1,4,20,34,1,5,6,-,1635,2918

In [4]:
df_2017 = pd.read_csv(DATA_DIR+'train_2017.csv')
print(df_2017.shape)
df_2017.head()

(473, 36)

,id,team,No,name,time_played,position,birthdate,height,weight,salary,nth_year,is_youth,nationality,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played
0,2,C大阪,2.0,松田 陸,2662.0,DF,1991-07-24 00:00:00,171.0,69.0,1800,2,NaN,NaN,16.0,1.0,42.0,2.0,NaN,NaN,NaN,NaN,FC東京,FC東京,C大阪,1,1,2,7,9,42,1,0,2,134,473,3733
1,3,C大阪,3.0,茂庭 照幸,7.0,DF,1981-09-08 00:00:00,181.0,82.0,3100,7,NaN,NaN,299.0,1.0,75.0,2.0,NaN,NaN,9.0,1.0,THA,C大阪,C大阪,9,2,2,32,14,20,0,2,0,-,441,1421
2,5,C大阪,5.0,田中 裕介,492.0,DF,1986-04-14 00:00:00,181.0,77.0,3100,3,NaN,NaN,205.0,10.0,42.0,1.0,NaN,NaN,NaN,NaN,川崎F・AUS,C大阪,C大阪,1,2,2,27,9,33,1,1,0,1908,664,2725
3,6,C大阪,6.0,ソウザ,2825.0,MF,1988-03-08 00:00:00,183.0,75.0,7100,2,NaN,brazil,NaN,NaN,39.0,8.0,NaN,NaN,NaN,NaN,BRA・BRA,BRA,C大阪,9,9,2,23,8,39,1,0,8,-,-,3341
4,8,C大阪,7.0,関口 訓充,543.0,MF,1985-12-26 00:00:00,171.0,66.0,2500,3,NaN,NaN,111.0,6.0,247.0,20.0,NaN,NaN,3.0,0.0,浦和,C大阪,C大阪,1,2,2,7,31,26,0,1,2,205,2052,891

In [5]:
df_2016 = pd.read_csv(DATA_DIR+'train_2016.csv')
print(df_2016.shape)
df_2016.head()

(477, 36)

,id,team,No,name,time_played,position,birthdate,height,weight,salary,nth_year,is_youth,nationality,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played
0,0,FC東京,2.0,徳永 悠平,2533.0,DF,1983-09-25,180,76,5000,11.0,NaN,NaN,305.0,4.0,37.0,3.0,NaN,NaN,9.0,0.0,FC東京,FC東京,FC東京,1,1,1,34,34,34,1,0,0,3060,2992,2917
1,1,FC東京,3.0,森重 真人,2865.0,DF,1987-05-21,183,79,6000,7.0,NaN,NaN,234.0,19.0,37.0,6.0,NaN,NaN,29.0,2.0,FC東京,FC東京,FC東京,1,1,1,33,33,32,1,1,7,2970,2970,2834
2,2,FC東京,4.0,高橋 秀人,1087.0,MF,1987-10-17,184,75,2800,7.0,NaN,NaN,129.0,10.0,32.0,4.0,NaN,NaN,7.0,0.0,FC東京,FC東京,FC東京,1,1,1,32,32,29,2,3,4,2618,2819,2052
3,3,FC東京,5.0,丸山 祐市,2925.0,DF,1989-06-16,182,75,1500,4.0,NaN,NaN,23.0,0.0,41.0,2.0,NaN,NaN,0.0,0.0,FC東京,湘南,FC東京,1,2,1,0,41,20,0,2,0,0,3689,1454
4,4,FC東京,6.0,室屋 成,1080.0,DF,1994-04-05,176,70,380,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,-,-,FC東京,-,-,1,-,-,0,-,-,0,-,-,0

In [6]:
label = 'time_played'

cols_num = [
     'height',
     'weight',
     'nth_year',
     'is_youth',
     'j1_total_num_played',
     'j1_total_scores',
     'j2_total_num_played',
     'j2_total_scores',
     'j3_total_num_played',
     'j3_total_scores',
     'na_total_num_played',
     'na_total_scores',
     'prev3_num_played',
     'prev2_num_played',
     'prev1_num_played',
     'prev3_scores',
     'prev2_scores',
     'prev1_scores',
     'prev3_time_played',
     'prev2_time_played',
     'prev1_time_played'
]

cols_cat = [
    'team',
     'position',
     'birthdate',
     'salary',
     'nationality',
     'prev3_team',
     'prev2_team',
     'prev1_team',
     'prev3_div',
     'prev2_div',
     'prev1_div',
]

features = cols_num + cols_cat + [label]

In [7]:
cols_rename = {col: col+"_prev_year" for col in features}
df_train = pd.merge(df_2017[["id"]+features], df_2016[["id"]+features].rename(columns=cols_rename), on="id", how="left")
df_test = pd.merge(df_2018[["id"]+features], df_2017[["id"]+features].rename(columns=cols_rename), on="id", how="outer")

In [8]:
print(df_train["id"].nunique())
df_train.head()

473

,id,height,weight,nth_year,is_youth,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,team,position,birthdate,salary,nationality,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played,time_played,height_prev_year,weight_prev_year,nth_year_prev_year,is_youth_prev_year,j1_total_num_played_prev_year,j1_total_scores_prev_year,j2_total_num_played_prev_year,j2_total_scores_prev_year,j3_total_num_played_prev_year,j3_total_scores_prev_year,na_total_num_played_prev_year,na_total_scores_prev_year,team_prev_year,position_prev_year,birthdate_prev_year,salary_prev_year,nationality_prev_year,prev3_team_prev_year,prev2_team_prev_year,prev1_team_prev_year,prev3_div_prev_year,prev2_div_prev_year,prev1_div_prev_year,prev3_num_played_prev_year,prev2_num_played_prev_year,prev1_num_played_prev_year,prev3_scores_prev_year,prev2_scores_prev_year,prev1_scores_prev_year,prev3_time_played_prev_year,prev2_time_played_prev_year,prev1_time_played_prev_year,time_played_prev_year
0,2,171.0,69.0,2,NaN,16.0,1.0,42.0,2.0,NaN,NaN,NaN,NaN,C大阪,DF,1991-07-24 00:00:00,1800,NaN,FC東京,FC東京,C大阪,1,1,2,7,9,42,1,0,2,134,473,3733,2662.0,184.0,75.0,7.0,NaN,129.0,10.0,32.0,4.0,NaN,NaN,7.0,0.0,FC東京,MF,1987-10-17,2800,NaN,FC東京,FC東京,FC東京,1,1,1,32,32,29,2,3,4,2618,2819,2052,1087.0
1,3,181.0,82.0,7,NaN,299.0,1.0,75.0,2.0,NaN,NaN,9.0,1.0,C大阪,DF,1981-09-08 00:00:00,3100,NaN,THA,C大阪,C大阪,9,2,2,32,14,20,0,2,0,-,441,1421,7.0,182.0,75.0,4.0,NaN,23.0,0.0,41.0,2.0,NaN,NaN,0.0,0.0,FC東京,DF,1989-06-16,1500,NaN,FC東京,湘南,FC東京,1,2,1,0,41,20,0,2,0,0,3689,1454,2925.0
2,5,181.0,77.0,3,NaN,205.0,10.0,42.0,1.0,NaN,NaN,NaN,NaN,C大阪,DF,1986-04-14 00:00:00,3100,NaN,川崎F・AUS,C大阪,C大阪,1,2,2,27,9,33,1,1,0,1908,664,2725,492.0,177.0,71.0,8.0,NaN,159.0,5.0,1.0,0.0,NaN,NaN,1.0,0.0,FC東京,MF,1990-12-03,2500,NaN,FC東京,FC東京,FC東京,1,1,1,33,33,31,1,2,1,2764,2753,2656,1834.0
3,6,183.0,75.0,2,NaN,NaN,NaN,39.0,8.0,NaN,NaN,NaN,NaN,C大阪,MF,1988-03-08 00:00:00,7100,brazil,BRA・BRA,BRA,C大阪,9,9,2,23,8,39,1,0,8,-,-,3341,2825.0,190.0,85.0,11.0,NaN,153.0,28.0,1.0,0.0,NaN,NaN,4.0,3.0,FC東京,FW,1985-06-06,2000,NaN,FC東京,FC東京,FC東京,1,1,1,21,19,2,5,3,0,288,981,29,513.0
4,8,171.0,66.0,3,NaN,111.0,6.0,247.0,20.0,NaN,NaN,3.0,0.0,C大阪,MF,1985-12-26 00:00:00,2500,NaN,浦和,C大阪,C大阪,1,2,2,7,31,26,0,1,2,205,2052,891,543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(df_test["id"].nunique())
df_test.head()

616

,id,height,weight,nth_year,is_youth,j1_total_num_played,j1_total_scores,j2_total_num_played,j2_total_scores,j3_total_num_played,j3_total_scores,na_total_num_played,na_total_scores,team,position,birthdate,salary,nationality,prev3_team,prev2_team,prev1_team,prev3_div,prev2_div,prev1_div,prev3_num_played,prev2_num_played,prev1_num_played,prev3_scores,prev2_scores,prev1_scores,prev3_time_played,prev2_time_played,prev1_time_played,time_played,height_prev_year,weight_prev_year,nth_year_prev_year,is_youth_prev_year,j1_total_num_played_prev_year,j1_total_scores_prev_year,j2_total_num_played_prev_year,j2_total_scores_prev_year,j3_total_num_played_prev_year,j3_total_scores_prev_year,na_total_num_played_prev_year,na_total_scores_prev_year,team_prev_year,position_prev_year,birthdate_prev_year,salary_prev_year,nationality_prev_year,prev3_team_prev_year,prev2_team_prev_year,prev1_team_prev_year,prev3_div_prev_year,prev2_div_prev_year,prev1_div_prev_year,prev3_num_played_prev_year,prev2_num_played_prev_year,prev1_num_played_prev_year,prev3_scores_prev_year,prev2_scores_prev_year,prev1_scores_prev_year,prev3_time_played_prev_year,prev2_time_played_prev_year,prev1_time_played_prev_year,time_played_prev_year
0,2,171.0,69.0,3.0,NaN,47.0,3.0,42.0,2.0,NaN,NaN,NaN,NaN,C大阪,DF,1991-07-24,2000,NaN,FC東京,C大阪,C大阪,1,2,1,9,42,31,0,2,2,473,3733,2662,2524.0,171.0,69.0,2.0,NaN,16.0,1.0,42.0,2.0,NaN,NaN,NaN,NaN,C大阪,DF,1991-07-24 00:00:00,1800,NaN,FC東京,FC東京,C大阪,1,1,2,7,9,42,1,0,2,134,473,3733,2662.0
1,5,181.0,77.0,4.0,NaN,223.0,10.0,42.0,1.0,NaN,NaN,NaN,NaN,C大阪,DF,1986-04-14,2700,NaN,C大阪,C大阪,C大阪,2,2,1,9,33,18,1,0,0,664,2725,492,279.0,181.0,77.0,3.0,NaN,205.0,10.0,42.0,1.0,NaN,NaN,NaN,NaN,C大阪,DF,1986-04-14 00:00:00,3100,NaN,川崎F・AUS,C大阪,C大阪,1,2,2,27,9,33,1,1,0,1908,664,2725,492.0
2,6,173.0,72.0,10.0,1.0,134.0,12.0,58.0,2.0,NaN,NaN,38.0,2.0,C大阪,MF,1990-10-06,6700,NaN,C大阪・GER,C大阪,C大阪,2,2,1,35,19,32,1,1,2,3150,1800,2880,2970.0,183.0,75.0,2.0,NaN,NaN,NaN,39.0,8.0,NaN,NaN,NaN,NaN,C大阪,MF,1988-03-08 00:00:00,7100,brazil,BRA・BRA,BRA,C大阪,9,9,2,23,8,39,1,0,8,-,-,3341,2825.0
3,7,176.0,72.0,2.0,NaN,194.0,24.0,50.0,7.0,9.0,3.0,NaN,NaN,C大阪,MF,1990-02-22,3000,NaN,鳥栖,FC東京,C大阪,1,1,1,32,17,24,7,1,3,2353,570,1901,1671.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8,177.0,68.0,10.0,1.0,113.0,39.0,168.0,23.0,NaN,NaN,18.0,5.0,C大阪,FW,1990-01-03,7200,NaN,SUI,C大阪,C大阪,9,2,1,4,20,34,1,5,6,-,1635,2918,1424.0,171.0,66.0,3.0,NaN,111.0,6.0,247.0,20.0,NaN,NaN,3.0,0.0,C大阪,MF,1985-12-26 00:00:00,2500,NaN,浦和,C大阪,C大阪,1,2,2,7,31,26,0,1,2,205,2052,891,543.0

In [10]:
os.makedirs("../input/orgn", exist_ok=True)
df_train.to_pickle("../input/orgn/train.pkl")
df_test.to_pickle("../input/orgn/test.pkl")

In [11]:
df_train[label].isnull().sum()

0

In [12]:
num_bins = np.floor(1 + np.log2(len(df_train)))
num_bins

9.0

In [13]:
df_train[label]

0      2662.0
1         7.0
2       492.0
3      2825.0
4       543.0
        ...
468     192.0
469    2604.0
470       0.0
471    2716.0
472    2505.0
Name: time_played, Length: 473, dtype: float64

In [14]:
df_train.loc[:, "bins"] = pd.cut(df_train[label], bins=int(num_bins), labels=False)

In [15]:
cols_num = list(df_train.select_dtypes(include='number').columns)
cols_num

['id',
 'height',
 'weight',
 'nth_year',
 'is_youth',
 'j1_total_num_played',
 'j1_total_scores',
 'j2_total_num_played',
 'j2_total_scores',
 'j3_total_num_played',
 'j3_total_scores',
 'na_total_num_played',
 'na_total_scores',
 'time_played',
 'height_prev_year',
 'weight_prev_year',
 'nth_year_prev_year',
 'is_youth_prev_year',
 'j1_total_num_played_prev_year',
 'j1_total_scores_prev_year',
 'j2_total_num_played_prev_year',
 'j2_total_scores_prev_year',
 'j3_total_num_played_prev_year',
 'j3_total_scores_prev_year',
 'na_total_num_played_prev_year',
 'na_total_scores_prev_year',
 'time_played_prev_year',
 'bins']

In [16]:
print(df_train.dtypes[:10])
print(df_train.dtypes[10:20])
print(df_train.dtypes[20:20])
print(df_train.dtypes[30:40])
print(df_train.dtypes[40:50])
print(df_train.dtypes[50:])

id                       int64
height                 float64
weight                 float64
nth_year                 int64
is_youth               float64
j1_total_num_played    float64
j1_total_scores        float64
j2_total_num_played    float64
j2_total_scores        float64
j3_total_num_played    float64
dtype: object
j3_total_scores        float64
na_total_num_played    float64
na_total_scores        float64
team                    object
position                object
birthdate               object
salary                  object
nationality             object
prev3_team              object
prev2_team              object
dtype: object
Series([], dtype: object)
prev3_time_played                 object
prev2_time_played                 object
prev1_time_played                 object
time_played                      float64
height_prev_year                 float64
weight_prev_year                 float64
nth_year_prev_year               float64
is_youth_prev_year               float64
j1_total_num_played_prev_year    float64
j1_total_scores_prev_year        float64
dtype: object
j2_total_num_played_prev_year    float64
j2_total_scores_prev_year        float64
j3_total_num_played_prev_year    float64
j3_total_scores_prev_year        float64
na_total_num_played_prev_year    float64
na_total_scores_prev_year        float64
team_prev_year                    object
position_prev_year                object
birthdate_prev_year               object
salary_prev_year                  object
dtype: object
nationality_prev_year           object
prev3_team_prev_year            object
prev2_team_prev_year            object
prev1_team_prev_year            object
prev3_div_prev_year             object
prev2_div_prev_year             object
prev1_div_prev_year             object
prev3_num_played_prev_year      object
prev2_num_played_prev_year      object
prev1_num_played_prev_year      object
prev3_scores_prev_year          object
prev2_scores_prev_year          object
prev1_scores_prev_year          object
prev3_time_played_prev_year     object
prev2_time_played_prev_year     object
prev1_time_played_prev_year     object
time_played_prev_year          float64
bins                             int64
dtype: object

In [17]:
for col in cols_num:
    print(df_train[col].mean())

387.4186046511628
178.41014799154334
73.04016913319239
4.186046511627907
1.0
103.89663461538461
10.65625
62.944636678200695
7.044982698961937
9.764044943820224
1.0561797752808988
16.92
1.88
1181.2283298097252
178.20364741641336
73.0
4.0
1.0
92.31118881118881
8.62937062937063
63.975
6.82
9.833333333333334
0.6388888888888888
13.571428571428571
1.2380952380952381
1151.8449848024316
3.0380549682875264